<div class="search">
  <form action="//baidu.com/s" method="get" accept-charset="utf-8">
    <input type="search" name="q1" results="0" placeholder="<%= __('search') %>">
    <input type="hidden" name="q6" value="<%- config.url.replace(/^https?:\/\//, '') %>">
  </form>
</div>