<% if (site.posts.length){ %>
<div class="widget tag">
  <h3 class="title"><%= __('weibo') %></h3>
  <div id="weibo">
	<iframe width="100%" height="550" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=0&height=550&fansRow=2&ptype=1&speed=0&skin=5&isTitle=0&noborder=0&isWeibo=1&isFans=1&uid=2705744264&verifier=b60ec1d3&dpc=1"></iframe>
  </div>
</div>
<% } %>
